@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: whitesmoke;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  position: relative;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.seashell {
  max-width: 20%;
  max-height: 20%;
}

.header-text {
  font-size: 70px;
}

.flashcards-header {
  color: white;
  font-size: 50px;
}

#sandy-head {
  position: absolute;
  bottom: 9vh;  
  left: 0;    
  width: 100%; 
  height: auto; 
  z-index: -44;
}

.container{
  width: 100vw;
  margin: auto;
}

textarea {
  width: 50%;
}

.row {
  display: flex;
}

.img1, .img2 {
  flex: 1;
  text-align: center; /* Center the images horizontally */
}

.img1 {
  transform: scaleX(-1);
}

img {
  max-width: 200px;
  scale: auto;
}

.or-text {
  font-size: 40px;
  color: white;
}

input[type="text"],
textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-family: inherit;
  resize: none;
  margin: 5px 0; /* Add margin to create space around the input */
}

header{background-color: #fff;}

#notes{
  width: 50vh;
  height: 10vh;
  align-self: center;
  border: 1px solid #ccc;
  margin: 2%;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  min-height: 70px;
  padding: 0 20px;
  background-color: blanchedalmond;
  width: 100%;
  position: relative;
  overflow: visible;
}

#header button{
  font-family: inherit;
  border: 1px solid gray;
}

#create_card{
  display: none;
  width: 370px;
  margin:auto;
  padding: 20px;
  margin-top: 10px;
  background: whitesmoke;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  color: green;
}

#create_card h2{
  color: green;
  text-align: center;
}

#create_card textarea{
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  color: green;
  border: 1px solid lightgray;
  resize: none;
}

#create_card button{width: fit-content;}

#flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
}

.flashcard{
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px; 
  background: rgba(255, 228, 187, 0.81);
  background-image: "grainy.png";
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  position: relative;
  border-radius: 3vh;
}

.flashcard h2{font-size: 1rem;}

.fa-minus{
  top: 3%;
  right: 2%;
  position: absolute;
  transition: 0.3s ease-out;
}

.fa-minus:hover{color: cornflowerblue;}

@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .flashcard{margin: auto;}

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #create_card{width: 95%;}

  .flashcard{width: 100%;}

}

.header-button {
  background-color: darkgray;
  width: 12%;
  padding: 2px;
}

.file-upload-container {
  text-align: center; 
}

.file-upload-label {
  display: inline-block;
  background-color: #007bff; 
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


div {
  display: grid;
  place-items: center; /* Horizontally and vertically center */
}
